<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ctt11cd3aConnectionString1" connectionString="Data Source=PC-13\KHANGEXPRESS;Initial Catalog=ctt11cd3a;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="webConnectionString1" connectionString="Data Source=PC-13\KHANGEXPRESS;Initial Catalog=web;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LopHocConnectionString1" connectionString="Data Source=PC-13\KHANGEXPRESS;Initial Catalog=LopHoc;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QuanLySinhVien2ConnectionString1" connectionString="Data Source=PC-13\KHANGEXPRESS;Initial Catalog=QuanLySinhVien2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="lophocnhtConnectionString1" connectionString="Data Source=PC-13\KHANGEXPRESS;Initial Catalog=lophocnht;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="qllhctt11cd3aConnectionString1" connectionString="Data Source=PC-13\KHANGEXPRESS;Initial Catalog=qllhctt11cd3a;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages theme="Galaxy" > </pages>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NameServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="NameService">
        <endpoint address="" behaviorConfiguration="NameServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="NameService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>