*
{
  /* 
    Defines the main font used throughout the entire site.
  */
 font-family: "Times New Roman", Times, serif;
}
form #form1 {
    width:100%;
    height:auto;
}
.themmoi1 {
  
    text-align:left;
   
}

body
{
  /* 
    Clears white space around the body and sets the background color to a dark grey.
  */width:100%;
   text-align:center;
     margin: 0;
    background-image: url(Images/bang.jpg);
  
   background-repeat:no-repeat;
   background-attachment: fixed;
   background-size:cover;
}
}

#link1 {
    color:black;
}
#link1:hover {
    color:red;
}
#date {
    text-align:left;
    margin-bottom:0;
    margin-left:10%;
    font-size:15px;
}

a
{
  /*
    Clears the underline on normal links, and gives them #FE601A (orange) as the text color.
  */
  color: white;
  text-decoration: none;
}

  a:hover
  {
    color:aqua;
    text-decoration: underline;
  }

  .MainMenu ul.level1
 
{
 
/* Định dạng các menu cấp 1 như Home, Reviews, About, Login */
 
font-size: 14px;
 
font-weight: bold;
 
height: 19px;
 
line-height: 19px;
background-color:red;
 
}
 
.MainMenu ul.level1 .selected
 
{
 
/* Khi các menu cấp 1 kích hoạt (hay chế độ active) */
 
background-color: #509EE7;
border:solid;
 
}

 .MainMenu ul li
  {
    /*
    Gives the four menu items in the main menu a width of 200px each.
  */
    width: 160px;
  }
.MainMenu
{
  /*
    The Menu gets a white border on all four sides.
  */
  border: 1px solid #999999;
  width: 814px;
  height: 19px;
  background-color: #555555;
}

.MainMenu a {
    background-color:red;
    color:red;
}
.MainMenu a.level1
 
{
 
/* Thêm các khoảng trống bên trái các mục menu*/

padding-left: 5px !important;
 
}
 
.MainMenu a.level1
 
{
 
/* Định dạng cho các menu cấp 2 như By Genre, All Reviews,... */
 
background-color: black;
 
padding-left: 8px;
 
}
 


h1
{
  
  font-size: 20px;
}

header
{
  /*
    Sets the background of the header to the same color as the right-hand side of the 
    header image. This way, the header can expand to the right.
    The margin at the bottom creates some room between the header and the menu and the main content.
  */
  background-color: #E34600;
  
}
#ds {
    color:red;
}

 

    

nav
{
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/
  position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
  top: 0; /*Nằm trên cùng*/
  left: 0; /*Nằm sát bên trái*/
  z-index: 100000; /*Hiển thị lớp trên cùng*/
  text-align:center;
  border-bottom: solid 5px white;
  height:auto;
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  background-color: black;
  display:block;
  font-size: 1.8em;
  border-right:none;   
}
#Menu1 {
    
}

.FirstLevelMenuItems
{
  padding-top: 10px;
}

section#MainContent
{
    text-align:center;
  /*
    Defines the main content area. The text color is white (on the gray background set on the body).
    The #MainContent section element has a minimum height of 370 pixels, but can grow if necessary.
    The font-size is 80% of its parent element, which in this case comes down to 80% of the font
    the user has specified as the default font in the browser.
  */
 margin-left:10%;
  margin-top:60px;
  border-radius:30px;
 
  color: white;
  text-align:center;
  font-size: 0.8em;
  width: 70%;
  min-height: 370px;
  padding: 10px;
  position: relative;
  background-color:none;
 
  margin-bottom:30px;
 
  
  
}
#time {
    font-size:10px;
}

#hello {
    color:yellow;
    font-size:40px;
    padding-top:10px;
}

div .s1 {
   
   background-color:#a02020;
   width:100%;
   height:80px;
   text-align:center;
   border-radius:10px;  
}
.baidang {
background-color:#beafaf;
padding-bottom:20px;

border-radius:20px;

}  
div .s2 {
    margin-top:30px;
    color:black;
    border:solid;
   background:none;

   background-color:silver;
   width:40%;
   min-height:500px;
   text-align:center;
   border-radius:none;
   display:block;
   float:left;
   margin-left:5%;
}
div#kiyeu {
    float:left;
    width:50%;
    height:auto;
}  


aside#Sidebar
{
  /*
    The Sidebar is positioned absolutely at the right of the page.
    It has the same font-size and color as #MainContent
  */
  font-size: 0.8em;
  width: 15%;
  margin-left:10px;
  color: White;
  float:right;
  padding-top: 6px;
 font-size:23px;
  border:double;
  margin-top:5px;
  text-align:center;
  background:red;
   box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/
  position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
  top: 70px; /*Nằm trên cùng*/
 right: 0; /*Nằm sát bên trái*/
  z-index: 100000; /*Hiển thị lớp trên cùng*/
  
}




.Introduction
{
  font-style: italic;
}


.ErrorMessage {
    color : violet;
}

.AJAX {
    height: 50px;
    width: 500px;
    background-image: url(Images/ajax.gif);
    background-repeat: no-repeat;
    padding-left: 40px;   
    line-height: 32px;
}

.Attention {
    border: 4px solid red;
    padding: 10px 0;
    width: 100px;
    margin: auto;
    display: block;
    text-align: center;
}

.ItemContainer
 
{
 
width: 400px;
 
list-style-type: none;
 
clear: both;
 
}
 
.ItemContainer li
 
{
 
height: 300px;
 
width: 200px;
 
float: left;
 
}
img {

    border:solid;
    
   
}
img:hover{

    border:solid aqua;
   
   
}
    
 
.ItemContainer li img
 
{
 
width: 180px;
 
margin: 10px 20px 10px
 
}

#Menu1 a {
     background-color:black;
    text-decoration: none;
    white-space: nowrap;
    display: block;
    color: red;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    font-size:30px;
    margin-left:10px;
   
    text-align:center;

}
#Menu1 a:hover {
    color:white;
    
}
#boxes .box{
		float:left;
		
		width: 30%;
		padding: 10px;
	}
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	}
footer
{
  text-align:left;
  color:white;
  border-top: 2px dashed gray;
  height: auto;
  line-height: 37px;
  clear: both;
  background-color: black;
  font-size:15px;
  width:100%;
}
p {
    font-size:25px;
}
.nam p {
    text-align:left;
    
    margin-left:30%;
}

.lable {
    color:black;
   font-style:normal;
}
.ErrorMessage { color: Red; }

.btn-hover {
    width: 150px;
    /*color: #fff;*/
    /*margin: 20px;*/
    height: 45px;
    background-size: 200% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    margin-right:15px;
}



.btn-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.btn-hover.color-5 {
    background-image: linear-gradient(to right, #66FFCC, #00FFCC, #CCFFFF, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.zoomin img #lyly {
    height: 200px;
    width: 200px;
}
.zoomin img:hover
 {
     width: 300px; height: 300px;

}

.AJAX {
    height:32px;
    width:500px;
    background-image: url(Images/AJAXX.gif);
    background-repeat:no-repeat;
    margin-top:50px;
  
    color:red;
}
#MyWebsite {
    border-radius:10px;
    width:50%;
    font-size:20px;
    height:80px;
    border:groove 1px silver;

}
#SayHello {
    height:80px;
    border:double 1px silver;
}
#SayHello:hover {
    height:80px;
    border:double 1px silver;
}
#grid2 {
    float:right;
}
